<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">


        <div class="text-right">
          <button [routerLink]="[ '/admin/list/partner/organization' ]"
            class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Back
          </button>
        </div>

        <div class="container">
          <form #form="ngForm" [formGroup]="partner" (ngSubmit)="ngSubmit()" autocomplete="off">

            <input hidden formControlName="id">

            <div class="form-group">
              <label> Name of Partner Organization</label>
              <input class="form-material form-control" type="text" formControlName="name"
                [class.is-invalid]="invalidName" required>
              <small *ngIf="invalidName" class="text-danger">
                This file is requiered
              </small>
            </div>

            <div class="form-group">
              <label> Logo</label>
              <input class="form-material form-control" type="text" formControlName="logo" required>
            </div>

            <div class="form-group">
              <label> URL Site</label>
              <input class="form-material form-control" type="text" formControlName="url_site"
                [class.is-invalid]="invalidURL" required>
              <small *ngIf="invalidURL" class="text-danger">
                escriba una direccion valida
              </small>
            </div>

            <input hidden formControlName="partner_organization_fk">
            <input hidden formControlName="category_languajes_fk">

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label> Description English</label>
                  <input class="form-material form-control" type="text" formControlName="descriptionEn"
                    [class.is-invalid]="invalidDescriptionEn" required>
                  <small *ngIf="invalidDescriptionEn" class="text-danger">
                    This file is requiered
                  </small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label> Description Spanish</label>
                  <input class="form-material form-control" type="text" formControlName="descriptionSp"
                    [class.is-invalid]="invalidDescriptionSp" required>
                  <small *ngIf="invalidDescriptionSp" class="text-danger">
                    This file is requiered
                  </small>
                </div>
              </div>
            </div>

            <div class="form-group">


              <div *ngIf="button === 1" class="container col-7">
                <button type="submit" [disabled]="partner.invalid" class="btn btn-success btn-block fas">SAVE <i
                    class="fas fa-user-plus"></i></button>
              </div>
              <div *ngIf="button === 2" class="container col-7">
                <button type="submit" [disabled]="partner.invalid" class="btn btn-warning btn-block fas">UPDATE <i
                    class="fas fa-user-edit"></i></button>
              </div>

            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>
