<div class="container-fluid">
    <div id="container-lotation" class="container col-11">

        <h1 *ngIf="languageID == 1" id="location-title">Location</h1>
        <h1 *ngIf="languageID == 2" id="location-title">Ubicación</h1>
        <hr color="#774F38" />
    
        <div id="map-responsive" class="container text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6799.885599867194!2d-85.78431232140291!3d10.186272406468937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f9e47231d18afc7%3A0x9599993cffe768b!2sEl%20Centro%20Verde%20-%20Asociaci%C3%B3n%20Nandamojo%20-%20Restoring%20Our%20Watershed!5e1!3m2!1ses!2scr!4v1597035535818!5m2!1ses!2scr "
                width="1000" height="450" center="0" margin="Center" frameborder="0 " style="border:0; " allowfullscreen=" " aria-hidden="false " tabindex="0 "></iframe>
        </div>
    </div>
</div>