<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="text-right">
          <button [routerLink]="[ '/admin/list/lidership' ]"
            class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fas fa-arrow-alt-circle-left"></i>
            Back
          </button>
        </div>

        <div class="container">
          <form #form="ngForm" (submit)="onSubmit( form )" autocomplete="off">

            <input hidden name="id" #id="ngModel" [(ngModel)]="lider.id">

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label> Name of Lidership</label>
                        <input name="name" #name="ngModel" [(ngModel)]="lider.name" class="form-material form-control" required>
                        <div class="validation-error text-danger" *ngIf="name.invalid && name.touched">This field is required.
                        </div>
                      </div>
                </div>
                <div class="col text-center">
                    <h1>Image</h1>
                    <input name="image" #image="ngModel" [(ngModel)]="lider.image" class="form-material form-control" required>
                </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label> Facebook</label>
                  <input name="facebook" #image="ngModel" [(ngModel)]="lider.facebook" class="form-material form-control"
                    required>
                  <!-- <div class="validation-error text-danger" *ngIf="facebook.invalid && facebook.touched">This field is required.
                  </div> -->
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label> Instagram</label>
                  <input name="instagram" #instagram="ngModel" [(ngModel)]="lider.instagram" class="form-material form-control"
                    required>
                  <!-- <div class="validation-error text-danger" *ngIf="instagram.invalid && instagram.touched">This field is required.
                  </div> -->
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label> Email</label>
                  <input name="email" #email="ngModel" [(ngModel)]="lider.email" class="form-material form-control"
                    required>
                  <!-- <div class="validation-error text-danger" *ngIf="email.invalid && email.touched">This field is required.
                  </div> -->
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label> Twitter</label>
                  <input name="twitter" #twitter="ngModel" [(ngModel)]="lider.twitter" class="form-material form-control"
                    required>
                  <!-- <div class="validation-error text-danger" *ngIf="twitter.invalid && twitter.touched">This field is required.
                  </div> -->
                </div>
              </div>
            </div>


            <hr>

            <input hidden name="lidership_fk_En" #lidership_fk_En="ngModel"
              [(ngModel)]="LiderEn.liderships_fk">
            <input hidden name="lidership_fk_Sp" #lidership_fk_Sp="ngModel"
              [(ngModel)]="LiderSp.liderships_fk">

            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label> Description English</label>
                  <input name="descriptionEn" #descriptionEn="ngModel" [(ngModel)]="LiderEn.description"
                    class="form-material form-control" required>
                  <div class="validation-error text-danger" *ngIf="descriptionEn.invalid && descriptionEn.touched">This
                    field is required.</div>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label> Description Spanish</label>
                  <input name="descriptionSp" #descriptionSp="ngModel" [(ngModel)]="LiderSp.description"
                    class="form-material form-control" required>
                  <div class="validation-error text-danger" *ngIf="descriptionSp.invalid && descriptionSp.touched">This
                    field is required.</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div *ngIf="lider.id == null" class="container col-7">
                <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block fas">SAVE <i
                    class="fas fa-user-plus"></i></button>
              </div>
              <div *ngIf="lider.id != null" class="container col-7">
                <button type="submit" [disabled]="form.invalid" class="btn btn-warning btn-block fas">UPDATE <i
                    class="fas fa-user-edit"></i></button>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
</div>
